apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-api-deployment
  labels:
    app: diabetes-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: diabetes-api
  template:
    metadata:
      labels:
        app: diabetes-api
    spec:
      containers:
        - name: diabetes-api
          image: us-west2-docker.pkg.dev/resolute-clock-479923-c3/diabetes-repo/backend:v3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: /app/models/diabetes_model.pkl