apiVersion: apps/v1
kind: Deployment
metadata:
  name: diabetes-api-deployment
  labels:
    app: diabetes-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: diabetes-api
  template:
    metadata:
      labels:
        app: diabetes-api
    spec:
      containers:
        - name: diabetes-api
          image: diabetes-api:latest  # for local cluster; for cloud you'd use registry URL
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: /app/models/diabetes_model.pkl